/* ----- Summary ----- */
/* ------------------- */
/* - Font Faces        */
/* - Typos and tables  */
/* - Navbar            */
/* - Carousel          */
/* - Pills             */
/* - Captured Section  */
/* - Portraits         */
/* - Footer            */
/* - Media Screen      */

/* Font Faces */

@font-face {
    font-family: 'anironcbold';
    src: url('../fonts/anicb___.woff2') format('woff2'),
    url('../fonts/anicb___.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anironcregular';
    src: url('../fonts/anicm___.woff2') format('woff2'),
    url('../fonts/anicm___.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anironbold';
    src: url('../fonts/anirb___.woff2') format('woff2'),
    url('../fonts/anirb___.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anironregular';
    src: url('../fonts/anirm___.woff2') format('woff2'),
    url('../fonts/anirm___.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'party_businessregular';
    src: url('../fonts/partybusiness.woff2') format('woff2'),
    url('../fonts/partybusiness.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Tengwar';
    font-style: normal;
    font-weight: normal;
    src: local('Tengwar Annatar'), url('../fonts/tngan.woff') format('woff');
}

/* Typos and tables */

h1, h2, h3, h4, h5, h6, .navbar, table {
    font-family: 'anironregular', cursive;
}

table {
    width: 100%;
    margin: 30px 0;
}

tr,td {
    padding: 10px;
}

tr {
    border-bottom: 1px solid #999;
    color: #999;
}

tr:first-child {
    border-bottom: 2px solid #333;
    color: #333;
}

.fontParty {
    font-family: 'party_businessregular', cursive;
    font-size: 2em;
    color: black;
}

h2 {
    font-size: 2em;
    margin: 20px 0 40px 0;
}

a {
    text-decoration: none;
    color: #333;
}

p, .btn-fan {
    font-family: 'party_businessregular', cursive;
    font-size: 1.5em;
}

.btn-lotr {
    margin: 0 auto;
    text-align: center;
    background-color: white;
    font-family: 'anironbold', cursive;
    color: #ff7020;
    font-size: 30px;
    font-weight: bold;
    border-radius: 0;
}

.btn-lotr:hover {
    background-color: #7e7e7e;
    color: #ff5800;
}

#aboutRing p {
    font-size: 2em;
}

.author {
    text-align: right;
    color: #999;
}

h2 span.deco {
    font-family: 'Tengwar', cursive;
    color: #ff4d00;
    font-size: 30px;
}

h4 span {
    font-size: 0.7em;
}

h4 span.deco {
    font-family: 'Tengwar', cursive;
    color: #ff4d00;
    font-size: 30px;
}

h5 span.deco {
    font-family: 'Tengwar', cursive;
    color: #ff4d00;
    font-size: 30px;
}

a span.deco {
    font-family: 'Tengwar', cursive;
    color: #ff4d00;
}

section {
    padding: 30px;
}

input, textarea, select {
    font-family: 'anironcregular', cursive;
}

/* Navbar */

.navbar-light {
    margin-bottom: 0;
    background-color: #ff7020;
    border: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.navbar .navbar-nav>li>a {
    color: #fff;
}

.navbar .navbar-nav>.active>a {
    background-color: transparent;
    color: #fff;
}

.navbar .navbar-nav>.active>a:hover, .navbar .navbar-nav>li>a:hover {
    color: #fff;
    border-bottom: 3px solid #fff;
    background-color: transparent;
}

.pipe-divider {
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

/* Carousel */

.carousel-item img {
    max-height: 800px;
}

.carousel-caption {
    top: 60%;
    transform: translateY(-60%);
}

/* Pills */

#pillsSection, #bestHunters, #NeedYou {
    background: url(../img/_bg_light.png) 0 0 repeat;
    overflow: hidden;
    clear: both;
}

.nav-pills {
    margin: 20px auto;
    font-family: 'anironbold', cursive;
    font-size: 22px;
    font-weight: bold;
}

.nav-pills>li>a {
    color: #666;
    text-decoration: none;
}

.nav-pills>li>a:hover {
    background-color: transparent;
}

.nav-pills>li.active {
    border-bottom: 3px solid #ff4d00;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover {
    background-color: transparent;
    color: #ff4d00;
}

.form-control {
    height: 38px;
}

textarea.form-control {
    height: 183px;
}

/* Captured section */

#capturedSection, #aboutRing, #contactUs {
    background: url(../img/_bg_dark.png) 0 0 repeat;
    overflow: hidden;
    color: #fff;
}

#capturedSection, #bestHunters {
    padding-bottom: 60px;
}

#aboutRing .card {
    width: 100%;
    margin-bottom: 20px;
    background-color: #eeeeee;
}

.card {
    border: none;
}
.card-header {
    background-color: #ff4d00;
    color: #fff;
}

.card-body {
    padding: 40px;
    border-bottom: 5px solid #ff4d00;
}

.btn-sauronInfo {
    margin: 50px 0;
    text-align: center;
}

.btn-fan, .btn-fan:hover {
    border: 0;
    background: url(../img/facebook_btn.png) 0 0 no-repeat;
    background-color: transparent;;
    width: 124px;
    height: 35px;
    padding-left:30px;
    color: #ff8200;
}

.orange {
    color: #ff4d00;
}

.btn-sauron, .btn-sauron:hover {
    color: transparent;
    border: 0;
    background: url(../img/sauron_btn.png) 0 0 no-repeat;
    background-color: transparent;
    width: 450px;
    height: 73px;
}

/* Portraits */

.card {
    position: relative;
    background-color: #000;
    min-width: 320px;
}

.gimli .overlay {
    background-color: black;

}

.gimli .overlay_content {
    text-align: center;

}

.gimli .dead {
    text-decoration: line-through;
    color: #ff4d00;
    font-weight: bold;
    font-size: 50px;
    margin-top: 220px;
}

.portraitDescription {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.portraitDescription a, a:hover {
    text-decoration: none;
}

.containerPortrait:hover .overlay {
    opacity: 0;
}

.containerPortrait img {
    display: block;
    width: 100%;
    height: auto;
}

.containerImg {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    transition: .5s ease;
    background-color: rgb(255, 255, 255);
}

.overlay_content {
    position: absolute;
    padding: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s;
    font-weight: bold;
    font-size: 17px;
}

.containerPortrait:hover .overlay_content {
    opacity: 1;
    transition: opacity 0.5s;
}

.containerPortrait:hover #overlay {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s;
}

.containerPortrait:hover h1 {
    margin-top: 60%;
    transition: margin-top 0.5s;
}

.containerPortrait:hover h2 {
    opacity: 0;
}

.containerPortrait h2 {
    font-family: 'party_businessregular', cursive;
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-radius: 15px;
    padding: 15px;
}

.img-responsive {
    width: 100%;
}

.media-body {
    padding-left: 15px;
    padding-right: 15px;
}

.media-body h4 {
    color: #ff4d00;
    font-family: 'party_businessregular', cursive;
    font-size: 3.5em;
}

h2.deadTitle {
    background-color: transparent;
    font-size: 1.9em;
}

.containerPortrait span {
    color: #FFA500;
    font-size: 1.1em;
}

.containerPortrait h1 {
    text-align: center;
    color: #fff;
    margin-top: 150px;
    transition: margin-top 0.5s;
}

/* Footer */

footer {
    background-color: #ff4d00;
    color: #fff;
    padding: 20px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    padding: 10px 0;
}

footer ul li a, footer p {
    color:#fff;
    text-decoration: none;
    font-family: 'anironcregular', cursive;
}

footer p {
    font-size : 1.3em;
}

footer p.footerNote {
    font-size : 0.9em;
}

footer p.logo {
    margin-top: 30px;
}

/* Media Screen */

@media screen and (max-width:570px) {
    .btn-sauronInfo {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .nav-pills {
        width: 100%;
    }

    .img-circle {
        margin: auto;
    }

    .containerPortrait:hover h1 {
        font-size: 2em;
        margin-top: 10px;
    }

    .media-body h4 {
        font-size: 1.8em;
    }
}